<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova.plugin.iframe-external-links"
        version="1.0.3">

    <name>iframeExternalLinks</name>

    <description>Cordova plugin to open external links (located in iframe) in Safari on iOS</description>
    <repo>https://github.com/juxfr/cordova-plugin-iframe-external-links</repo>
    <keywords>iframe, shouldStartLoadWithRequest, external link</keywords>
    <license>Apache 2.0</license>

    <author>Julien Cornic</author>


    <config-file target="config.xml" parent="/*">
        <preference name="Fullscreen" value="true" />
    </config-file>
    
    <js-module src="www/empty.js" name="empty">
      <clobbers target="empty" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IframeExternalLinks">
                <param name="ios-package" value="IframeExternalLinks" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/IframeExternalLinks.h" />
        <source-file src="src/ios/IframeExternalLinks.m" />
    </platform>
</plugin>
